@import url("https://fonts.googleapis.com/css2?family=Boldonse&display=swap");
body {
  font-family: "helvetica", system-ui;
}

.green-card {
  background-color: #0b6c37;
}

.blue-card {
  background-color: #046ea1;
}

.btn {
  background-color: slategray;
  border-radius: 50px;
  color: white;
}

.card-text {
  color: white;
}

.card-img-right {
  width: 50%;
  height: auto;
}
.card-body {
  flex: 1;
}
.card-deck {
  display: flex;
  justify-content: space-between;
}

.diversity-img {
}

/* page 2 top box 'giving back' */
.grey-card {
  background-color: grey;
}

.green-card {
  background-color: #0b6c37;
}
.text-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
}
.title {
  color: white;
}

iframe {
  width: 100%;
  height: 100%;
  border: none; /* Removes default border */
}

.image-wrapper {
  display: flex;
  gap: 15px;
}
.appstore-img {
  scale: 0.5;
}
.crank-icon {
  height: 200px;
}

.footer {
  background-color: slategray; /* Dark footer background */
  color: white;
  padding: 20px 0;
}
.footer-text {
  padding-left: 20px;
}
.image-wrapper {
  display: flex;
  gap: 10px; /* Space between images */
}
.footer-img {
  justify-content: right;
  scale: 0.5;
  width: 330px; /* Adjust size */
  height: 60px;
  object-fit: cover;
  border-radius: 8px; /* Optional rounded corners */
}

/* .video-container {
  max-height: 100vh;
}
/* .hero-img {
  object-fit: scale-down;
  max-height: 100vh;
/* } */
